html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}
.hide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 11111;
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.hide-fade {
  height: 0vh;
  width: 0vw;
  opacity: 1;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: var(--preload_now);
  -webkit-transition: var(--preload_now);
  -moz-transition: var(--preload_now);
  -ms-transition: var(--preload_now);
  -o-transition: var(--preload_now);
}
.hide div {
  /*background-color: red;
  */
  height: 100px;
  width: 100px;
  animation: rotate 1s;
  -webkit-animation: rotate var(--preload_now) ease-in-out;
  border: yellow 10px solid;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

@keyframes rotate {
  50% {
    transform: rotate(360deg) scale(0.6);
    -webkit-transform: rotate(360deg) scale(0.6);
    -moz-transform: rotate(360deg) scale(0.6);
    -ms-transform: rotate(360deg) scale(0.6);
    -o-transform: rotate(360deg) scale(0.6);
  }
}

::selection {
  background-color: var(--second-color-light);
}
body {
  background: white;
  font-family: "Ubuntu", sans-serif;
  /*FW300400500700*/
  overflow-x: hidden;
}

/* Small Screens */
@media (min-width: 768px) {
  .cont {
    width: 750px;
  }
}
/* medium Screens */
@media (min-width: 992px) {
  .cont {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .cont {
    width: 1150px;
  }
}
/* Start Text Components */

.title {
  max-inline-size: 500px;
  margin-inline: auto;
  text-align: center;
  padding-block: 0 var(--main-padding);
}
.title h1 {
  color: var(--second-color);
  font-size: clamp(3rem, 5vw, 4rem);
  padding-block: 0 15px;
}
.title p {
  color: var(--font-color);
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  font-weight: 300;
}

/* Start Text Components */

/* Start Box Components */

.cont .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.cont .box .info {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 20px var(--second-color-shadow);
}
.cont .box .info .image {
  /* 	display: flex; ==> Will Streach The Image And Will Complicate It We Can Using Grid For Future Centered Hover If We Like Or Adding display:flex; align-items: flex-start*/
  inline-size: 100%;
  padding-block: 0 20px;
  /* 	flex: 1; */
}
.cont .box .info .image img {
  inline-size: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cont .box .info .info-text {
  /* align-self: flex-end; */
}
@media (max-width: 767px) {
  .cont .box .info .info-text {
    text-align: center;
  }
}
.cont .box .info .info-text h3 {
  color: var(--second-color);
  font-size: clamp(1.8rem, 2vw, 2rem);
  padding-block: 0 10px;
}
.cont .box .info .info-text p {
  color: var(--font-color);
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  font-weight: 300;
  line-height: 1.5;
}

/* End Box Components */

/*  End Media Query */

.cont {
  padding-inline: 15px;
  margin-inline: auto;
}

:root {
  --first-color: black;
  --first-color-light: #777;
  --second-color: #6e8cb4;
  --second-color-light: #d0e2fa;
  --second-color-light: #e1edfc;
  --second-color-shadow: #bdcde263;
  /* --font-color: #354457; */
  --font-color: #465b75;
  --main-padding: 60px;
  --branch-padding: 20px;
  --small-padding: 10px;
  --tran: 0.5s;
  --tran-2: 0.25s;
  --preload_now: ;
}

/* 
    General Components
*/
head {
  min-block-size: 100vh;
}
/* Start Header */

header {
  /* background-color: white; */
  block-size: 70px;
  inline-size: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  header {
    margin-bottom: 60px;
  }
}
header .cont {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  /* position: fixed; */
  width: inherit;
  block-size: inherit;
  z-index: 1;
}
header .cont .logo {
  color: var(--first-color);
  flex: 1;
}
header .cont .logo a {
  font-size: clamp(30px, 4vw, 40px);
  font-weight: 700;
  color: var(--first-color);
}
@media (min-width: 768px) {
  header .cont .links i {
    display: none;
  }
}
header .cont .links i {
  color: var(--font-color);
  font-size: 25px;
}
@media (min-width: 768px) {
  header .cont .links {
    block-size: 100%;
    display: flex;
    justify-content: center;
  }
}

header .cont .links ul {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .cont .links ul {
    position: absolute;
    right: 0;
    top: 100%;
    block-size: 0%;
    inline-size: 100%;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    z-index: -1;
    box-shadow: 0px 20px 50px var(--second-color-shadow);
  }
}
@media (max-width: 767px) {
  header .cont .links:hover ul::before {
    content: "";
    position: absolute;
    top: -30px;
    right: -10px;
    background-color: transparent;
    inline-size: 100px;
    block-size: 30px;
  }
}
@media (max-width: 767px) {
  header .cont .links:hover ul {
    block-size: 50vh;
    opacity: 1;
    z-index: 2;
  }
}
header .cont .links ul li {
  position: relative;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header .cont .links ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: var(--second-color-shadow);
  inline-size: 100%;
  block-size: 0;

  z-index: -1;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
header .cont .links ul li:hover::before {
  block-size: 3px;
}
@media (max-width: 767px) {
  header .cont .links ul li:hover::before {
    block-size: 100%;
  }
}
@media (max-width: 767px) {
  header .cont .links ul li {
    inline-size: 100%;
    padding-block: 0;
  }
}
header .cont .links ul li a {
  color: var(--second-color);
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--branch-padding);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 300;
}
header .cont .links ul li a:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

@media (max-width: 767px) {
  header .cont .links ul li a {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0;
  }
}

/* End Header */
/* Start aboutign Page */

.about {
  padding-block: 20px var(--main-padding);
  block-size: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about .cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.about .cont .image {
  max-inline-size: 300px;
  margin-inline: auto;
  position: relative;
}
.about .cont .image::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--second-color-light);
  inline-size: fit-content;
  block-size: 50%;
  inline-size: 50%;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about .cont .image img {
  max-inline-size: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about .cont .hero-text {
  max-inline-size: 700px;
}
.about .cont .hero-text h1 {
  color: var(--second-color);
  font-size: clamp(3rem, 8vmin, 7rem);
  margin-block: 0 2rem;
}
.about .cont .hero-text p {
  color: var(--font-color);
  padding-block: 0 30px;
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 300;
  line-height: 1.5;
}
.about .cont .social {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .about .cont .social {
    bottom: 50px;
  }
}
.about .cont .social ul {
  inline-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  opacity: 0;
  z-index: -1;
  transform: translatey(5px);
  -webkit-transform: translatey(4px);
  -moz-transform: translatey(4px);
  -ms-transform: translatey(4px);
  -o-transform: translatey(4px);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.about .cont .social:hover ul {
  inline-size: 100%;

  opacity: 1;
  z-index: 1;
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
  -ms-transform: translatey(-10px);
  -o-transform: translatey(-10px);
}
.about .cont .social ul li {
}
.about .cont .social ul li a {
}
.about .cont .social ul li i {
  color: var(--second-color);
  font-size: clamp(3rem, 2vw, 3.5rem);
}
.about .cont .social ul li i:hover {
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
}
.about .cont .social .data {
  inline-size: 30px;
  block-size: 30px;
  border: 2px solid var(--font-color);
  position: relative;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  align-self: center;
}
.about .cont .social .data::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  inline-size: 70%;
  block-size: 70%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  animation: scale 4s linear infinite;
  -webkit-animation: scale 4s linear infinite;
  border: 2px solid var(--font-color);
}
.about .cont .social .data:hover::before {
  top: -30%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation: none;
  -webkit-animation: none;
}
/* End aboutign Page */

/* Start Clients */

.clients {
  padding-block: 0px var(--main-padding);
}
.clients .cont {
}
.clients .cont .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.clients .cont .box .image {
  inline-size: 150px;
}
.clients .cont .box .image img {
  max-inline-size: 100%;
  opacity: 0.5;
}

/* End Clients */

/* Start Works */

.works {
  block-size: calc(auto - 70px);
  padding-block: var(--main-padding);
}

.works .cont {
}
.works .cont .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.works .cont .box .info {
  /*background-color: rgb(195, 0, 0);
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 20px var(--second-color-shadow);
}
.info {
}
.works .cont .box .info .image {
  inline-size: 100%;
  padding-block: 0 20px;
  flex: 1;
}
.works .cont .box .info .image img {
  max-inline-size: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.works .cont .box .info .info-text {
}
@media (max-width: 767px) {
  .works .cont .box .info .info-text {
    text-align: center;
  }
}
.works .cont .box .info .info-text h3 {
  color: var(--second-color);
  font-size: clamp(1.8rem, 2vw, 2rem);
  padding-block: 0 10px;
}
.works .cont .box .info .info-text p {
  color: var(--font-color);
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  font-weight: 300;
  line-height: 1.5;
}
.logos {
  /* block-size:calc(auto - 70px) ; */
}
/* End Works */

/* Start Proficiency */

.prof {
  padding-block: var(--main-padding);
}
.prof .cont {
}
.prof .cont .title {
}
.prof .cont .title h3 {
}
.prof .cont .title p {
}
.prof .cont .info {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
}
@media (max-width: 991px) {
  .prof .cont .info {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.prof .cont .info > .image {
  max-inline-size: 500px;
}
.prof .cont .info > .image img {
  inline-size: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.prof .cont .info .skill-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.prof .cont .info .skill-box .skill {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px var(--second-color-shadow);

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.prof .cont .info .skill-box .skill:hover {
  background-color: var(--second-color-light);
}
@media (max-width: 991px) {
  .prof .cont .info .skill-box .skill {
    flex-direction: column;
  }
}
.prof .cont .info .skill-box .skill .image {
  inline-size: 100px;
  padding: 10px;
}
.prof .cont .info .skill-box .skill .image img {
  inline-size: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.prof .cont .info .skill-box .skill .skill-text {
  flex: 1;
}
.prof .cont .info .skill-box .skill .skill-text h3 {
  color: var(--second-color);
  font-size: clamp(1.8rem, 2vw, 2rem);
  padding-block: 0 10px;
}
.prof .cont .info .skill-box .skill .skill-text p {
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  font-weight: 300;
  line-height: 1.5;
}

/* End Proficiency */
/* Start Footer */
footer {
  background-color: var(--second-color-light);
  padding-block: var(--main-padding);
}
footer .cont {
}
footer .cont {
}
footer .title h1 a {
  color: var(--first-color);
  font-size: clamp(3rem, 5vw, 5rem);
}
footer .cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .cont .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
}
@media (max-width: 767px) {
  footer .cont .box {
    gap: 20px;
  }
}
footer .cont .box .info {
  align-items: initial;
  justify-content: initial;
  box-shadow: none;
  gap: 10px;
}
@media (max-width: 767px) {
  footer .cont .box .info {
    text-align: center;
    align-items: center;
  }
}
footer .cont .box .info h3 {
  color: var(--first-color);
  font-size: clamp(1.8rem, 2vw, 2rem);
}

footer .cont .box .info p a {
  color: var(--font-color);
  display: block;
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  font-weight: 400;
  text-decoration: underline;
}
footer .cont .box .brief p {
  color: var(--first-color);
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  font-weight: 300;
  line-height: 1.5;
}
footer .cont .box .brief a {
  background-color: var(--font-color);
  color: white;
  inline-size: fit-content;
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  display: inline-block;
  padding: 10px 30px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .cont .box .brief a:hover {
  background-color: var(--second-color);
}
/* End Footer */

/* Start Copy Rights */

main {
  background-color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
}
main .cont {
  display: flex;
}
main .cont span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 10px;
  font-size: 1.6rem;
}
main .cont span a {
}
main .cont span a img {
  inline-size: 30px;
}

/* End Copy Rights */

/* Start Keyframes */

@keyframes scale {
  0% {
    inline-size: 130%;
    block-size: 130%;
    opacity: 1;
  }
  50% {
    inline-size: 0%;
    block-size: 0%;
    opacity: 0.1;
  }
  100% {
    inline-size: 130%;
    block-size: 130%;
    opacity: 1;
  }
}

/* End Keyframes */
